@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d7d5cf;
  --foreground: #141f24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141f24;
    --foreground: #d7d5cf;
  }
}

body {
  min-height: 100vh;
  color: var(--font-montserrat);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  font-family: var(--font-montserrat), sans-serif;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font-family: var(--font-montserrat), sans-serif;
  border:none;
  outline: none;
}
